*{
    padding: 0px;
    margin: 0px;
}

#discription h1{
    padding: 20px 0px;
    margin: 20px 0px;
    border: 2px solid black;
    border-left: 0px;
    border-right: 0px;
    background-color: rgb(90, 89, 95);
    text-align: center;
    color: rgb(255, 255, 255);

}

#discription img{
    padding: 20px 0px;
    padding-left: 320px;
    width: 300px;
    height: auto;
}

#discription p{
    text-align: center;
}

#ingredients {
    text-align: center;
    margin: 20px;
}

#steps{
    text-align: center;
    margin: 20px;
}